.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

/jpa/build/
/kafka/build/
/configuration/build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/kafka/build/classes/java/main/com/common/kafka/consumer/ConsumerApp.class
/kafka/build/classes/java/main/com/common/kafka/consumer/ConsumerCreator.class
/kafka/build/classes/java/main/com/common/kafka/IKafkaConstants.class
/jpa/build/libs/jpa.jar
/jpa/build/classes/java/main/com/common/jpa/JpaApplication.class
